.admonition-tip-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(8, 161, 102, 0.4);
    background-color: rgba(8, 161, 102, 0.3);
    font-weight: 700;
}

.admonition-tip {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(8, 161, 102);
}

.admonition-note-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(0, 71, 170, 0.4);
    background-color: rgba(0, 71, 170, 0.3);
    font-weight: 700;
}

.admonition-note {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(0, 71, 170);
}

.admonition-warning-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(251, 255, 0, 0.3);
    background-color: rgba(251, 255, 0, 0.1);
    font-weight: 700;
}

.admonition-warning {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(251, 255, 0);
}

.admonition-question-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(6, 228, 80, 0.4);
    background-color: rgba(6, 228, 80, 0.3);
    font-weight: 700;
}

.admonition-question {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(6, 228, 80);
}

.admonition-conclusion-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(66, 172, 243, 0.4);
    background-color: rgba(66, 172, 243, 0.3);
    font-weight: 700;
}

.admonition-conclusion {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(66, 172, 243);
}

.admonition-bullshit-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(255, 128, 171, 0.4);
    background-color: rgba(255, 128, 171, 0.3);
    font-weight: 700;
}

.admonition-bullshit {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(255, 128, 171);
}

.admonition-attention-title {
    margin: 0 -0.75rem;
    padding: .5rem .75rem .5rem .75rem;
    border-bottom: 0.1rem solid rgba(255, 23, 23, 0.4);
    background-color: rgba(255, 23, 23, 0.3);
    font-weight: 700;
}

.admonition-attention {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: .9765em 0;
    padding: 0 .75rem;
    border-radius: .1rem;
    overflow: auto;
    border-left: .25rem solid;
    border-left-color: rgb(255, 23, 23);
}