code,
pre {
    padding: 7px;
    font-size: $code-font-size;
    font-family: $code-font-family;
    background: $code-background;
}

code {
    padding: 3px 5px;
    border-radius: 4px;
    color: $code-color;
}

figure.highlight {
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    position: relative;
    table {
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding: 2px 7px;
            font-size: $code-font-size;
            font-weight: bold;
            color: darken($gray, 10%);
            background: darken($code-background, 3%);
            content: 'Code';
        }
    }
    @each $sign,
    $text in $code-type-list {
        &.#{$sign}>table::after {
            content: $text;
        }
    }
    .code {
        pre {
            margin: 0;
            padding: 30px 10px 10px;
        }
    }
    .gutter {
        width: 10px;
        color: $gray;
        pre {
            margin: 0;
            padding: 30px 7px 10px;
        }
    }
    .line {
        // Fix code block null line height and
        // Synchronous gutter and code line highly.
        height: round($code-font-size * 1.5);
    }
    table,
    tr,
    td {
        margin: 0;
        padding: 0;
        width: 100%;
        border-collapse: collapse;
    }
    /*
Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
*/
    .code {
        .hljs {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            background: #F0F0F0;
        }
        /* Base color: saturation 0; */
        .hljs,
        .hljs-subst {
            color: #444;
        }
        .hljs-comment {
            color: #888888;
        }
        .hljs-keyword,
        .hljs-attribute,
        .hljs-selector-tag,
        .hljs-meta-keyword,
        .hljs-doctag,
        .hljs-name {
            font-weight: bold;
        }
        /* User color: hue: 0 */
        .hljs-type,
        .hljs-string,
        .hljs-number,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-quote,
        .hljs-template-tag,
        .hljs-deletion {
            color: #880000;
        }
        .hljs-title,
        .hljs-section {
            color: #880000;
            font-weight: bold;
        }
        .hljs-regexp,
        .hljs-symbol,
        .hljs-variable,
        .hljs-template-variable,
        .hljs-link,
        .hljs-selector-attr,
        .hljs-selector-pseudo {
            color: #BC6060;
        }
        /* Language color: hue: 90; */
        .hljs-literal {
            color: #78A960;
        }
        .hljs-built_in,
        .hljs-bullet,
        .hljs-code,
        .hljs-addition {
            color: #397300;
        }
        /* Meta color: hue: 200 */
        .hljs-meta {
            color: #1f7199;
        }
        .hljs-meta-string {
            color: #4d99bf;
        }
        /* Misc effects */
        .hljs-emphasis {
            font-style: italic;
        }
        .hljs-strong {
            font-weight: bold;
        }
    }
}